<h1 class = "list-name"><%= @list.name %></h1>



<div class="container-list">
  <div></div>
  <div class="container-postercards">
    <% @list.movies.each do |movie| %>
    <div class="poster-card">
        <% movie.bookmarks.each do |bookmark| %>
          <div>
            <%= link_to "Delete?", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure you want to delete #{movie.title} from this list?"} %>
          </div>
      <div class="poster-image">
        <%= image_tag movie.poster_url, alt: "poster" %>
      </div>
      <div class="headline-card margin-card">
        <h4><%= movie.title %></h4>
        <p>Rating: <%= movie.rating %></p>
      </div>
      <div class="overview-card margin-card card-display">
        <% if movie.overview.split.length >= 50 %>
          <p><%= movie.overview.split[0..50].join(" ")%> (...)</p>
        <% else %>
          <p><%= movie.overview%></p>
        <% end %>
        <p> <b>Comment:</b> <%= bookmark.comment%> </p>
      </div>
        <% end %>

    </div>
    <% end %>
  </div>
  <div></div>
</div>

<p>
<div class="btn-blackshadow">
  <%= link_to "Add new movie to #{@list.name}?", new_list_bookmark_path(params[:id]) %>
</div>
</p>
