<h1><%= @list.name %></h1>

<p>
<%= link_to "Add new movie to #{@list.name}?", new_list_bookmark_path(params[:id]) %>
</p>

<% @list.bookmarks.each do |bookmark| %>
    <%= bookmark.comment %>
<% end %>


<div class="container-postercards">
  <% @list.movies.each do |movie| %>
  <a href="https://www.rottentomatoes.com/m/<%=movie.title.split.join("_")%>">
  <div class="poster-card">
    <div class="poster-image">
      <%= image_tag movie.poster_url, alt: "poster", width: 300, height: 150 %>
    </div>
    <div class="headline-card margin-card">
      <h4><%= movie.title %> <%= movie.rating %></h4>
    </div>
    <div class="overview-card margin-card">
      <%= movie.overview%>

    </div>
  </div>
  </a>
  <% end %>
</div>

<% @list.bookmarks.each do |bookmark| %>
<div class="link-delete">
  <%= link_to "Delete #{bookmark.movie.title}?", bookmark_path(bookmark), method: :delete %>
</div>
<% end %>

  <%# From the live code?
  plant_tag_path(tag), method: :delete

  def destroy
    @plant_tag = PlantTag.find(params[:id])
    (............ see from slack)
    @garden = @plant.garden
    if @plant_tag.destroy
      redirect_to garden_plant_path(@garden, @plant)
    end
  end%>
